.header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #A1A1A1;

  .navbar {
    justify-content: flex-end;

    &-nav {
      // column-gap: 40px;
      flex-direction: row;
    }
  }

  .nav-link {
    color: white;
    padding: 40px 0;
  }

  .nav-item {
    position: relative;
    margin-right: 40px;
    &:hover::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 40px);
      height: 3px;
      background: white;
    }
  }
}